body {
/*background-image: url(https://media.8ch.net/file_store/64d56157a8a27d756390e560c97e94bc44103b7e3aff28b7fc0671737b69034d.jpg);
background-size:cover;
background-repeat: no-repeat;
*/
    background-image: url(" https://i.imgur.com/G4nomNL.jpg ");
    background-size: contain;

}

p
{
    font-size: x-large; font-weight: bold;
}
.readable {
	color: white;
	font-weight: bold;
	background: rgba(54, 25, 25, .8);
}

h3 em 
{
    font-size: 3em;
}

.imprint
{
    color:crimson; font-weight: bold; font-style:oblique;
}

div.newspaper
{
    text-align: center;
    font-family: monospace;
    background: rgba(10,100,100,.5);
    
}

#britfeel
{
    text-align: right;
    text-decoration-line: overline;
    background-image: url("https://media.8ch.net/britfeel/src/1430419213164.gif");
    border: 2px solid red;
    opacity: 0.6;
    margin: 10%;
    background-size: cover;
    
    
}