body {
/*background-image: url(https://media.8ch.net/file_store/64d56157a8a27d756390e560c97e94bc44103b7e3aff28b7fc0671737b69034d.jpg);
background-size:cover;
background-repeat: no-repeat;
*/
    background-image: url(" https://static.pexels.com/photos/235994/pexels-photo-235994.jpeg");
    background-size: contain;

}

p
{
    font-size: x-large; font-weight: bold;
}
.readable {
	color: white;
	font-weight: bold;
	background: rgba(54, 25, 25, .8);
}

h3 em 
{
    font-size: 3em;
}

.imprint
{
    color:crimson; font-weight: bold; font-style:oblique;
}

div.newspaper
{
    text-align: center;
    font-family: monospace;
    background: rgba(10,100,100,.5);
    
}


#britfeel
{
    text-align: right;
    text-decoration-line: overline;
    background-image: url("https://media.8ch.net/britfeel/src/1430419213164.gif");
    border: 2px solid red;
    opacity: 0.6;
    //margin: 10%;
    background-size: cover;
    height: 100vh;   
}


.border 
{
    border-style: groove;
    
}
.border img
{
    background-image: url(https://static.pexels.com/photos/36753/flower-purple-lical-blosso.jpg);
    opacity: 0.6;
    border-width: 1em;
    border-style: dotted;
    border-color: fuchsia;
    margin-bottom: 50px;
    margin: auto;
    width: 40%;
    display: block;
}
.border pre
{
    display: block;
    margin: auto;
    text-align: center;
    border-style: ridge;
    border-width: 3rem;
    background-color: black;
    opacity: 0.6;
    color: cyan;
    width: 50%;
    padding: 10%;
}

a
{
    color: #20c20e;
    border-width: 10em;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
}
a:visited 
{
    color: #f00;
}
a:hover { color: #bbbbbb; }
