.bgimage{
	
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Hovhannes_Aivazovsky_-_The_Ninth_Wave_-_Google_Art_Project.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
	margin-bottom: 5rem;
	border-bottom: 1px black solid;
}
.bigheader{
    color: #fff;
    text-align: center;
    font-size: 7vw;
	font-weight: 900;
	opacity: 0.5;
	-webkit-text-stroke: 2px black;
}

.icon {
	height: 150px;
	max-width: 150px;
	object-fit: contain;
	margin: 0 auto;
	display: block;
}

.art_pic{
 	border-radius: 50%;
}

.services section {
	text-align: center;
}


.article:hover{
	background-color: #444;
	color: #eee;
}

@media(min-width: 1200px){
	h3{
		margin-top: 0px;
	}
	.services section{
		text-align: left;
	}
	.article{
		padding: 1rem 0;
		border-bottom: 1px solid black;
	}
	.art_pic{
   		height: 100px;
		width: 100px;
		object-fit: contain;
	}
	.bigheader{
		font-size: 90px;
	}

}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

